[[extend 'layout.html']]

<style>
[v-cloak] {
    display: none;
}

#app {
    display: flex;
    flex-direction: row; /* Aligns children (search section and another content) horizontally */
}

.search-section {
    width: 50%; /* Adjust this value as needed to set the width of the search section */
    display: flex;
    flex-direction: column; /* Aligns search box and result list vertically */
}

.search-box input[type="text"] {
    width: 100%;
    padding: 12px;
    font-size: 22px; /* Adjusts the size of the input text */
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px; /* Adds space between the input and the list */
}

ul {
    width: 100%; /* Ensures list takes full width of the search-section */
}

.right-side-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start; /* Align content to the start of the div */
    padding: 10px;
}

.buttons-container {
    display: flex; /* Enable flexbox */
    justify-content: space-around; /* Space the buttons out evenly */
    width: 100%; /* Full width to align with the other content */
    margin-top: 10px; /* Adds some margin above the button container */
}

.right-side-content button {
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
}

</style>

<div id="app">
    <div class="search-section">
        <div class="search-box">
            <input type="text" v-model="searchQuery" placeholder="Search species" />
        </div>
        <ul>
            <li v-for="speciesItem in filteredSpecies" :key="speciesItem.id">
                <button @click="handleSpeciesClick(speciesItem)">
                    {{ speciesItem.name }}
                </button>
            </li>
        </ul>
    </div>
    <div class="right-side-content">
        <div v-for="(item, id) in selectedSpecies" :key="id">
            <p>{{ item.name }}: <input type="number" v-model="item.quantity" /></p>
            <button @click="incrementQuantity(id)">Increase</button>
        </div>
        <div class="buttons-container">
            <button @click="submitSpecies">Submit</button>
            <button @click="manageSpecies">My Checklists</button>
        </div>
    </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->


<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let get_checklists_URL = "[[=XML(get_checklists_URL)]]";
  let get_species_URL = "[[=XML(get_species_URL)]]";
  let submit_checklist_URL = "[[=XML(submit_checklist_URL)]]";
  let saveTimestamp_URL = "[[=XML(saveTimestamp_URL)]]";
</script>
<script src="js/checklist.js"></script>

[[end]]
