[[extend 'layout.html']]

<style>
[v-cloak] {
    display: none;
}
#map {
    height: 500px;
    width: 100%;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.button-group {
    margin-top: 20px;
}
.button-group button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button-group button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}
.title {
    color: #2c3e50;
    font-family: 'Arial', sans-serif;
    font-size: 2.5em;
    margin-bottom: 20px;
}
.select-species {
    margin-bottom: 20px;
}
.select-species label {
    font-size: 1.2em;
    margin-right: 10px;
}
.select-species select {
    padding: 10px;
    font-size: 1em;
}
.content {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 1.2em;
    color: #333;
}
    h1 {
        color: #2c3e50;
        font-family: 'Arial', sans-serif;
        font-size: 200.5px;
        margin-bottom: 20px;
    
    }
</style>

<div class="section" >
    <h1>[[=XML(date)]]</h1>
    <div id="map"></div>
    <div class="button-group">
        <a href="/bird_watching/user_stats">
            <button>Go Back</button>
        </a>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet-draw@1.0.4/dist/leaflet.draw.css" />
<script src="https://unpkg.com/leaflet.heat/dist/leaflet-heat.js"></script>
<script>
    let longitude = "[[=XML(longitude)]]";
    let latitude = "[[=XML(latitude)]]";
</script>
<script src="js/event.js"></script>

