[[extend 'layout.html']]

<style>
[v-cloak] {
    display: none;
}
#map {
    height: 500px;
    width: 100%;
}
</style>

<div class="section" id="app" v-cloak>
    <h1 class="title"><i class="fa-solid fa-cube"></i> Bird Watching App</h1>
    <p>Content: my_value: {{ my_value }} </p>
    
    <!-- Species Selection Box -->
    <div>
        <label for="species-select">Select Species:</label>
        <select id="species-select" v-model="selectedSpecies" @change="updateMap">
            <option value="all">All Species</option>
            <option v-for="species in speciesList" :value="species">{{ species }}</option>
        </select>
    </div>

    <!-- Map Container -->
    <div id="map"></div>

    <!-- Links to other pages -->
    <div>
        <button @click="navigateToChecklist">Submit Checklist</button>
        <button @click="navigateToStats">My Birding</button>
    </div>
</div>

[[block page_scripts]]
<script>
    let my_callback_url = "[[=XML(my_callback_url)]]";
</script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

<script src="js/index.js"></script>
[[end]]
